<body>
        <header>
			<section class="container flex">
				<div class="logo">
					<a href="/" style="background: url(templates/img/011d7f9bac.png)no-repeat center left/80%">
						<p>IMPULS<br><span>Avto</span></p>
					</a>
				</div>
				<div class="mob">
					<i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
				</div>
				<div class="number">
					<!-- <h4>Телефон для связи:</h4> -->
					<a href="tel:+XXXXXXX" class="first-tel">+38 XXXXXXXX</a>
					<a href="tel:+XXXXXXX">+38 XXXXXXX</a>
				</div>
				<div class="time">
					<!-- <h4>Режим работы:</h4>-->
					<h5>Пн-Пт: 09:00-19:00</h5>
					<h5 style="margin-left:-25px;">Сб: 10:00-17:00</h5>
				</div>
				<div class="social">
					<a href="viber://add?number=380501451984" target="_blank"><i class="fab fa-viber fa-2x" aria-hidden="true"></i></a>#}
					<a href="https://telegram.im/@vag_comua" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>#}
					<a href="https://www.facebook.com/vag.comua" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>#}
					<a href="https://www.instagram.com/vag.comua" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>#}
					<a href="https://twitter.com/vag_comua"target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>-->
				</div>
			</section>
		</header>
<nav class="menu">
			<div class="container flex">
				<a class="active" href="/">Главная</a>
				<a class="" href="/about">О нас</a>
				<a class="" href="/diagnostics">Диагностика</a>
				<a class="" href="/gear_repair">Ремонт ходовой части</a>
				<a class="" href="/restore_engine">Ремонт двигателя</a>
				<a class="" href="/prices">Услуги</a>
				<a class="" href="/contacts">Контакты</a>
			</div>
		</nav>
</body>