<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171270796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171270796-1');
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>СТО Impuls Autoservice </title>
	<meta name="description" content="Text description">

	<!-- Font -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Slick-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico" />

</head>
	<body>
		<header>
			<section class="container flex">
				<div class="logo">
					<a href="/" style="background: url({% static 'img/logo.png' %})no-repeat center left/50%">
						<p>Impuls<br><span>autoservice</span></p>
					</a>
				</div>
				<div class="mob">
					<i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
				</div>
				<div class="number">
					<h4>Наши контакты:</h4>
					<a href="tel:+38068 20 90 867" class="first-tel">+380682090867</a>
					<a href="tel:+38050 32 77 636">+380503277636</a>
				</div>
				<div class="time">
					 <h4>Режим работы:</h4>
					<h5>Пн-Пт: 09:00-19:00</h5>
					<h5 style="margin-left:-25px;">Сб: 10:00-17:00</h5>
				</div>
				<div class="social">
					<a href="viber://add?number=380682090867" target="_blank"><i class="viber_icon fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@impulse_stoBot" target="_blank"><i class="telegram_icon fa fa-telegram fa-2x" aria-hidden="true"></i></a>
                </div>
			</section>
		</header>
		<div class="mob_menu">
			<a class="menu_btn">
				<span style="background: url({% static 'img/menu.png' %}) no-repeat center/contain;"></span>
			</a>
				<nav class="mob_nav">
				<a href="{% url 'index' %}">Главная</a>
				<a href="{% url 'about' %}">О нас</a>
                <a href="{% url 'news' %}">Новости</a>
				<a href="{% url 'price' %}">Услуги и цены</a>
				<a href="{% url 'parts' %}">Подбор запчастей</a>
				<a href="{% url 'contacts' %}">Контакты</a>
				</nav>
		</div>

		<nav class="menu">
			<div class="container flex">
				<a href="{% url 'index' %}">Главная</a>
				<a href="{% url 'about' %}">О нас</a>
                <a href="{% url 'news' %}">Новости</a>
				<a href="{% url 'price' %}">Услуги и цены</a>
				<a href="{% url 'parts' %}">Подбор запчастей</a>
				<a href="{% url 'contacts' %}">Контакты</a>
			</div>
		</nav>

		<div class="promo-about" style="background: url({% static 'img/my2.jpg' %})no-repeat center/cover;">
			<h3>Наши контакты</h3>
		</div>
		<div class="contacts">
			<div class="container flex">
					<section>
						<h4>Режим работы:</h4>
						<p><span>Пн - Пт</span>: 09:00-19:00</p><br>
						<p><span>Сб</span>: 10:00-17:00</p>
					</section>
					<section>
						<h4>Адрес:</h4>
						<p>г. Кременчуг ул. Набережная лейтенанта Днепрова 30б</p><br>
					<a href="mailto:impulsesto@gmail.com">impulsesto@gmail.com</a>
					</section>
					<section>
						<h4>Телефоны для связи:</h4>
						<a href="tel:+38068 20 90 867" >+380682090867</a><br><br>
						<a href="tel:+38050 32 77 636">+380503277636</a>
					</section>
			</div>
		</div>

		<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5440396.268054456!2d26.69138635335334!3d48.25583934828855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c154700e8f%3A0x1068488f64010!2z0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2spl!4v1592736267615!5m2!1sru!2spl" width="600" height="450" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		<div class="order">
			<a name="order"></a>
			<div class="container flex">
				<div class="form-text">
					<h3>Узнайте стоимость работ по Вашему автомобилю прямо сейчас!</h3>
					<p>Оставьте свои контактные данные, и наши специалисты свяжутся с Вами для выяснения всех деталей.</p>
				</div>
				<form method="post" class="form-wrap" id="order_form">
					<input class="inp" name="u_name" type="text" placeholder="Имя">
					<input class="inp" name="u_phone" type="tel" placeholder="Телефон">
					<textarea name="u_mess" class="inp" style="height: 100px;" placeholder="Сообщение. Задайте свой вопрос нашему специалисту"></textarea>
					<button class="all_btn">Отправить заявку</button>
				</form>
			</div>
		</div>

		<footer>
			<section class="container flex">
				<div class="footer-logo logo">
					<a href="./" style="background: url({% static 'img/logo.jpg' %})no-repeat center left/50%">
						<p>Impuls<br><span>autoservice</span></p>
					</a>
				</div>
				<div class="number">
					<h4>Наши контакты:</h4>
					<a href="tel:+38068 20 90 867" class="first-tel">+380682090867</a>
					<a href="tel:+38050 32 77 636">+380503277636</a>
					<a href="mailto:impulsesto@gmail.com">impulsesto@gmail.com</a>
				</div>
				<div class="social">
					<a href="viber://add?number=380682090867" target="_blank"><i class="viber_icon fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@impulse_stoBot" target="_blank"><i class="telegram_icon fa fa-telegram fa-2x" aria-hidden="true"></i></a>
                </div>

			</section>
			<p class="copy">Development by jekajeka63 © 2020</p>
			<br>
			
		</footer>

		<script src="{% static 'js/main.js' %}"></script>


	</body>
</html>