<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Tag Manager -->
	<script type="text/javascript" async="" src="https://widgets.binotel.com/calltracking/js/information-about-the-visitor.js?modifiedAt=1587659945"></script><script type="text/javascript" async="" src="https://widgets.binotel.com/calltracking/js/information-about-the-visitor.js?modifiedAt=1587659945"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://widgets.binotel.com/getcall/widgets/d2mrzvw2dev0fai3oxm4.js"></script><script async src="https://www.googletagmanager.com/gtm.js?id=GTM-NLSMCPG"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NLSMCPG');</script>
	<!-- End Google Tag Manager -->

	<title>СТО VAG Service любые виды и сложности работ по вашему автомобилю</title>
	<link rel="canonical" href="https://vag-service.com.ua/">
	<meta name="description" content="☎ (044) 334-67-64 ➤ СТО в Киеве, улица Мира, 36 ✓Профессиональный ремонт и обслуживание автомобилей ✓Доступные цены ✓Гарантия на ремонт">

	<!-- META -->
	<meta name="google-site-verification" content="9U3p1YU4g57kS647T-djOgZh3mZCDjs_aYD9YObgGvY">
	<meta name="keywords" content="vag, vag-service, ваг, ваг-сервисе, ваг сервис, сто киев, сто, ремонт машин, ремонт автомобиля, ремонт авто, сто киева, ремонт и обслуживание автомобилей, киев сто">
	<!-- OG Tags -->
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="website">
	<meta property="og:title" content="СТО VAG Service любые виды и сложности работ по вашему автомобилю">
	<meta property="og:description" content=" (044) 334-67-64  СТО в Киеве, улица Мира, 36 Профессиональный ремонт и обслуживание автомобилей Доступные цены Гарантия на ремонт">
	<meta property="og:url" content="https://vag-service.com.ua/">
	<meta property="og:site_name" content="СТО VAG Service">
	<!-- Twitter Tags -->
	<meta name="twitter:description" content=" (044) 334-67-64  СТО в Киеве, улица Мира, 36 Профессиональный ремонт и обслуживание автомобилей Доступные цены Гарантия на ремонт">
	<meta name="twitter:title" content="СТО VAG Service любые виды и сложности работ по вашему автомобилю">

	<!-- Viber icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!--Иконки-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Slick-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/main.js' %}">
	<link rel="stylesheet" href="{% static 'js/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158336995-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-158336995-1');
	</script>



<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;display=swap&amp;subset=latin,cyrillic"><link type="text/css" rel="stylesheet" href="//widgets.binotel.com/getcall/css/theme_7.css?modifiedAt=1587659945">
</head>

<body class="body_hidden">

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLSMCPG"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header>
			<section class="container flex">
				<div class="logo">
					<a href="./" style="background: url(/upload/img/logo_6.png)no-repeat center left/40%">
						<p>VAG<br><span>service</span></p>
					</a>
				</div>
				<div class="mob">
					<i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
				</div>
				<div class="number">
					<!-- <h4>Телефон для связи:</h4> -->
					<a href="tel:+38 (044) 334 67 64" class="first-tel">+38 (044) 334 67 64</a>
					<a href="tel:+38 (097) 102 42 23">+38 (097) 102 42 23</a>
				</div>
				<div class="time">
					<!-- <h4>Режим работы:</h4>-->
					<h5>Пн-Пт: 09:00-19:00</h5>
					<h5 style="margin-left:-25px;">Сб: 10:00-17:00</h5>
				</div>
				<div class="social">
					<a href="viber://add?number=380501451984" target="_blank"><i class="fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@vag_comua" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/vag.comua" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/vag.comua" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
					<!--<a href="https://twitter.com/vag_comua"target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>-->
				</div>
			</section>
		</header>
		<div class="mob_menu">
			<a class="menu_btn">
				<span style="background: url(img/menu.png) no-repeat center/contain;"></span>
			</a>
				<nav class="mob_nav" style="display: block;">
					<a href="/">Главная</a>
					<a href="/about">О нас</a>
					<a href="/diagnostics">Диагностика</a>
					<a href="/gear_repair">Ремонт ходовой части</a>
					<a href="/restore_engine">Ремонт двигателя</a>
					<a href="/prices">Услуги</a>
					<!-- <a href="/chip_tunning">Чип-тюнинг удаление EGR</a>-->
					<a href="/contacts">Контакты</a>
				</nav>
		</div>

		<nav class="menu">
			<div class="container flex">
				<a class="active" href="/">Главная</a>
				<a class="" href="/about">О нас</a>
				<a class="" href="/diagnostics">Диагностика</a>
				<a class="" href="/gear_repair">Ремонт ходовой части</a>
				<a class="" href="/restore_engine">Ремонт двигателя</a>
				<a class="" href="/prices">Услуги</a>
				<a class="" href="/contacts">Контакты</a>
			</div>
		</nav>
</body>
Как говорил мой профессор по начертательной геометрии, жалуйтесь в оон. Кто не знает это организация обьединеных наций.
</html>

