<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6KB3GT');</script>
<!-- End Google Tag Manager -->

	<title>СТО VAG Service любые виды и сложности работ по вашему автомобилю</title>
	<link rel="canonical" href="index.html" />
	<meta name="description" content="☎ (044) 334-67-64 ➤ СТО в Киеве, улица Мира, 36 ✓Профессиональный ремонт и обслуживание автомобилей ✓Доступные цены ✓Гарантия на ремонт">

	<!-- META -->
	<meta name="google-site-verification" content="9U3p1YU4g57kS647T-djOgZh3mZCDjs_aYD9YObgGvY" />
	<meta name="keywords"  content="vag, vag-service, ваг, ваг-сервисе, ваг сервис, сто киев, сто, ремонт машин, ремонт автомобиля, ремонт авто, сто киева, ремонт и обслуживание автомобилей, киев сто" />
	<!-- OG Tags -->
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="СТО VAG Service любые виды и сложности работ по вашему автомобилю" />
	<meta property="og:description" content=" (044) 334-67-64  СТО в Киеве, улица Мира, 36 Профессиональный ремонт и обслуживание автомобилей Доступные цены Гарантия на ремонт" />
	<meta property="og:url" content="https://vag-service.com.ua/" />
	<meta property="og:site_name" content="СТО VAG Service" />
	<!-- Twitter Tags -->
	<meta name="twitter:description" content=" (044) 334-67-64  СТО в Киеве, улица Мира, 36 Профессиональный ремонт и обслуживание автомобилей Доступные цены Гарантия на ремонт"/>
	<meta name="twitter:title" content="СТО VAG Service любые виды и сложности работ по вашему автомобилю"/>

	<!-- Viber icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!--Иконки-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Slick-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158336995-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-158336995-1');
	</script>



</head>
	<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6KB3GT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

		<header>
			<section class="container flex">
				<div class="logo">
					<a href="index.html" style="background: no-repeat center left/40%">
						<p>Impuls<br><span>avtoservice</span></p>
					</a>
				</div>
				<div class="mob">
					<i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
				</div>
				<div class="number">
					<!-- <h4>Телефон для связи:</h4> -->
					<a href="tel:+38 (044) 334 67 64" class="first-tel">+38 (044) 334 67 64</a>
					<a href="tel:+38 (097) 102 42 23">+38 (097) 102 42 23</a>
				</div>
				<div class="time">
					<!-- <h4>Режим работы:</h4>-->
					<h5>Пн-Пт: 09:00-19:00</h5>
					<h5 style="margin-left:-25px;">Сб: 10:00-17:00</h5>
				</div>
				<div class="social">
					<a href="viber://add?number=380501451984" target="_blank"><i class="fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@vag_comua" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/vag.comua"target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/vag.comua"target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
					<!--<a href="https://twitter.com/vag_comua"target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>-->
				</div>
			</section>
		</header>
		<div class="mob_menu">
			<a class="menu_btn">
				<span style="background: url({% static 'img/menu.png' %}) no-repeat center/contain;"></span>
			</a>
				<nav class="mob_nav" style="display: none; overflow:auto:">

					<a href="">Главная</a>
					<a href="{% url 'about' %}">О нас</a>
					<a href="">Диагностика</a>
					<a href="">Ремонт ходовой части</a>
					<a href="">Ремонт двигателя</a>
					<a href="">Услуги</a>
					<!-- <a href="/chip_tunning">Чип-тюнинг удаление EGR</a>-->
					<a href="">Контакты</a>
				</nav>
		</div>

		<nav class="menu">
			<div class="container flex">
				<a class="active" href="index.html">Главная</a>
				<a class="" href="{% url 'about' %}">О нас</a>
				<a class="" href="diagnostics.html">Диагностика</a>
				<a class="" href="gear_repair.html">Ремонт ходовой части</a>
				<a class="" href="restore_engine.html">Ремонт двигателя</a>
				<a class="" href="prices.html">Услуги</a>
				<a class="" href="contacts.html">Контакты</a>
			</div>
		</nav><div class="promo">
			<div class="slider">
									<div class="slider-item" style="background: url({% static 'upload/img/s1.JPG' %}) no-repeat top center/cover;"></div>
									<div class="slider-item" style="background: url({% static 'upload/img/s2.JPG' %}) no-repeat top center/cover;"></div>
									<div class="slider-item" style="background: url({% static 'upload/img/s3.jpg' %}) no-repeat top center/cover;"></div>
									<div class="slider-item" style="background: url({% static 'upload/img/s4.jpg' %}) no-repeat top center/cover;"></div>
							</div>
			<div class="promo-content">
				<h3>Ремонт и обслуживание автомобилей иностранного производства</h3>
				<p></p>
			</div>
		</div>
		<!--promo-->
		<!-- <div class="clear"></div>-->

		<!--<div class="project">
			<div class="poject-wrap">
				<h3>Сервис</h3>
				<div class="container flex" style="flex-wrap: wrap;">
					<div class="project-content" style="background: url(/upload/img/audi.jpg) no-repeat center/cover;">
						<div class="project-first">
							<h4>Audi</h4>
							<p>«Lead by technology»</p>
						</div>
						<div class="project-last">
							<div class="project-a">
															<a href="/model_service/6"> Audi Q2</a>
															<a href="/model_service/7">Audi Q3</a>
															<a href="/model_service/8">Audi Q5</a>
															<a href="/model_service/16">Audi Q7</a>
															<a href="/model_service/17">Audi A1</a>
															<a href="/model_service/18">Audi A2</a>
															<a href="/model_service/19">Audi A3</a>
															<a href="/model_service/20">Audi A4</a>
															<a href="/model_service/21">Audi A5</a>
															<a href="/model_service/22">Audi A6</a>
															<a href="/model_service/23">Audi A7</a>
															<a href="/model_service/24">Audi A8</a>
														</div>
						</div>
					</div>
					<div class="project-content" style="background: url(/upload/img/img.png) no-repeat center/cover;">
						<div class="project-first">
							<h4>Volkswagen</h4>
							<p>«Then. Now. Always»</p>
						</div>
						<div class="project-last">
							<div class="project-mask"></div>
							<div class="project-a">
															<a href="/model_service/9">Amarok</a>
															<a href="/model_service/10">Beetle</a>
															<a href="/model_service/11">Bora</a>
															<a href="/model_service/33">Caddy</a>
															<a href="/model_service/35">Corrado</a>
															<a href="/model_service/37">Eos</a>
															<a href="/model_service/39">Colf</a>
															<a href="/model_service/41">Jetta</a>
															<a href="/model_service/44">Load Up</a>
															<a href="/model_service/45">Lupo</a>
															<a href="/model_service/46">Multivan,Transporter</a>
															<a href="/model_service/48">Passat</a>
															<a href="/model_service/49">Phaeton</a>
															<a href="/model_service/50">Polo</a>
															<a href="/model_service/54">Sharan</a>
															<a href="/model_service/56">Tiguan</a>
															<a href="/model_service/57">Touareg</a>
															<a href="/model_service/58">Touran</a>
														</div>
						</div>
					</div>
					<div class="project-content" style="background: url(/upload/img/skoda.jpg) no-repeat center/cover;">
						<div class="project-first">
							<h4>Skoda</h4>
							<p>«Simply cleve»</p>
						</div>
						<div class="project-last">
							<div class="project-mask"></div>
							<div class="project-a">
															<a href="/model_service/12">Octavia</a>
															<a href="/model_service/13">Fabia</a>
															<a href="/model_service/25">SuperB</a>
															<a href="/model_service/27">Felicia</a>
															<a href="/model_service/28">Karoq</a>
															<a href="/model_service/29">Kodiaq</a>
															<a href="/model_service/30">Rapid</a>
															<a href="/model_service/31">Roomster</a>
															<a href="/model_service/32">Yeti</a>
														</div>
						</div>
					</div>
					<div class="project-content" style="background: url(/upload/img/seat.jpg) no-repeat center/cover;">
						<div class="project-first">
							<h4>Seat</h4>
							<p>«Light up Seat in yourself»</p>
						</div>
						<div class="project-last">
							<div class="project-mask"></div>
							<div class="project-a">
															<a href="/model_service/14">Altea</a>
															<a href="/model_service/15">Alhambra</a>
															<a href="/model_service/60">Arona</a>
															<a href="/model_service/62">Ateca</a>
															<a href="/model_service/63">Cordoba</a>
															<a href="/model_service/64">Exeo</a>
															<a href="/model_service/66">Ibiza</a>
															<a href="/model_service/68">Leon</a>
															<a href="/model_service/71">Mii</a>
															<a href="/model_service/76">Toledo</a>
														</div>
						</div>
					</div>
					<div class="project-content" style="background: url(/upload/img/maxresdefault-10.jpg) no-repeat center/cover;">
						<div class="project-first">
							<h4>Porsche</h4>
							<p>«Porsche»</p>
						</div>
						<div class="project-last">
							<div class="project-mask"></div>
							<div class="project-a">
															<a href="/model_service/79">CAYENNE</a>
															<a href="/model_service/80">CAYMAN </a>
															<a href="/model_service/81">MACAN</a>
															<a href="/model_service/82">PANAMERA</a>
														</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!--project-->

		<!--<div class="statistic">
			<div class="statistics-wrap container flex">
									<div>
						<h4>12534</h4>
						<p>Цены</p>
					</div>
									<div>
						<h4>6213</h4>
						<p>Ремонт двигателя</p>
					</div>
									<div>
						<h4>3125</h4>
						<p>Ремонт ходовой части</p>
					</div>
									<div>
						<h4>12535</h4>
						<p>Диагностика</p>
					</div>
							</div>
		</div><!--statistic-->


		<div class="services">
			<div class="container">
				<h3>Наши услуги</h3>
				<div class="service-content flex">
					<figure>
						<img src="img/serv1.jpeg" alt="img">
					    <figcaption>
					       <h4>Цены</h4>
					       <div class="article">
					       	<p><p>Мы предлагаем полный пакет услуг начиная от замены лампочки и заканчивая капитальным ремонтом двигателя.</p></p></div>
				           <a href="prices.html" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="img/serv-2.jpg" alt="img">
					    <figcaption>
					       <h4>Ремонт ходовой части</h4>
					       <div class="article"><p>Состояние ходовой части вашего автомобиля влияет на вашу безопасность на дорогах, и это очень важно для нас. Рекомендуется проверять ходовую часть вашего автомобиля не менее дважды в год.</p></div>
				           <a href="gear_repair.html" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="img/serv-3.jpg" alt="img">
					    <figcaption>
					       <h4>Ремонт двигателя</h4>
					       <div class="article"><p>Мы выполняем полную диагностику двигателя и сопутствующих ему узлов для определения неисправностей и причин их появления. У нас есть необходимые инструменты, приборы и оборудование, которое требуется для качественной и точной диагностики, ремонта и замены двигателя.</p></div>
				           <a href="restore_engine.html" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="img/s4.jpg" alt="img">
					    <figcaption>
					       <h4>Диагностика</h4>
					       <div class="article"><p>Регулярные диагностические тесты могут обнаружить проблемы с вашим автомобилем, прежде чем они потребуют дорогостоящего ремонта, или, что еще хуже, оставят вас на обочине после поломки.</p></div>
				           <a href="diagnostics.html" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<!--<figure>
						<img src="./img/s51.jpg" alt="img">
					    <figcaption>
					       <h4>Чип-тюнинг удаление EGR</h4>
					       <div class="article"><p>Чип-тюнинг, отключение-удаление EGR, удаление сажевого фильтра, и даже чистка сажевого фильтра, способствуют экономичности двигателя. Улучшают динамику работы Двс,&nbsp;</p></div>
				           <a href="/chip_tunning" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>-->
				</div>
			</div>
		</div><!--services-->



		<div class="gallery">
			<div class="container">
				<h3>Наши работы</h3>
				<div class="slider4">
										<div class="slider4-item" data-id="2">
						<span style="background: url({% static 'upload/img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/g4.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/IMG-1edd68c0c9fa535bcc0e7c7d7255156c-V.jpg' %})no-repeat center/cover;"></span>
					</div>
										<div class="slider4-item" data-id="3">
						<span style="background: url({% static '' %})no-repeat center/cover;"></span>
						<span style="background: url(img/g2.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g5.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g4.jpg)no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/20180814_185659.jpg' %})no-repeat center/cover;"></span>
					</div>
										<div class="slider4-item" data-id="4">
						<span style="background: url(img/g3.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g2.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g5.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g4.jpg)no-repeat center/cover;"></span>
						<span style="background: url(upload/img/g4.jpg)no-repeat center/cover;"></span>
					</div>
										<div class="slider4-item" data-id="5">
						<span style="background: url(img/g3.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g2.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g5.jpg)no-repeat center/cover;"></span>
						<span style="background: url(img/g4.jpg)no-repeat center/cover;"></span>
						<span style="background: url({% static 'upload/img/g3.jpg' %})no-repeat center/cover;"></span>
					</div>
									</div>
			</div>
		</div><!--gallery-->


		<div class="about">
			<section class="container">
				<h3>Наши сильные стороны</h3>
				<p></p>
				<div class="flex">
											<div class="about-wrap">
							<h4>Слесарный цех</h4>
							<div class="article about_cont_p"><p>Ремонт, послегарантийное обслуживание, проведение технического обслуживания(ТО) автомобилей иностранного производства.</p></div>
							<div class="about-icon" style="background: url(upload/img/p1.png) no-repeat center/contain;"></div>
						</div>
											<div class="about-wrap">
							<h4>Ремонт АКПП</h4>
							<div class="article about_cont_p"><p>Проводим диагностику, ремонт, адаптацию и замену масла в АКПП на автомобилях иностранного производства</p></div>
							<div class="about-icon" style="background: url(upload/img/p2.png) no-repeat center/contain;"></div>
						</div>
											<div class="about-wrap">
							<h4>Поставка запчастей</h4>
							<div class="article about_cont_p"><p>Имеем свой собственный склад. При отсутствии нужной детали, доставляем в течении 1-3 часа. Гарантии на запчасти сервиса.</p></div>
							<div class="about-icon" style="background: url(upload/img/p4.png) no-repeat center/contain;"></div>
						</div>
											<div class="about-wrap">
							<h4>Эвакуация</h4>
							<div class="article about_cont_p"><p>Помощь в предоставлении эвакуатора, без долгих ожиданий и очереди.</p></div>
							<div class="about-icon" style="background: url(upload/img/p5.png) no-repeat center/contain;"></div>
						</div>
											<div class="about-wrap">
							<h4>Цех Двс</h4>
							<div class="article about_cont_p"><p>Производим мелкий и капитальный ремонт двигателя&nbsp;<span style="color: #6b6b6b; font-family: Lato, sans-serif;">FSI, TSI, TFSI, TDI.</span></p></div>
							<div class="about-icon" style="background: url(upload/img/p6.png) no-repeat center/contain;"></div>
						</div>
									</div>
			</section>
		</div><!--about--><iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.835910039582!2d30.419296015620017!3d50.406895598383535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c9330534c70f%3A0x5888039029740ab9!2zVkFHIFNlcnZpY2Ug0JrQuNC10LI!5e0!3m2!1sru!2sua!4v1581613407270!5m2!1sru!2sua" allowfullscreen></iframe>
	<!--	<div class="order">
			<a name="order"></a>
			<div class="container flex">
				<div class="form-text">
					<h3>Узнайте стоимость работ по Вашему автомобилю прямо сейчас!</h3>
					<p>Оставьте свои контактные данные, и наши специалисты свяжутся с Вами для выяснения всех деталей.</p>
				</div>
				<form method="post" class="form-wrap" id="order_form">
					<input class="inp" name="u_name" type="text" placeholder="Имя">
					<input class="inp" name="u_phone" type="tel" placeholder="Телефон">
					<textarea name="u_mess" class="inp" style="height: 100px;" placeholder="Сообщение. Задайте свой вопрос нашему специалисту"></textarea>
					<button class="all_btn">Отправить заявку</button>
				</form>
			</div>
		</div>--><div class="modal_wrap">
			<div class="form_modal">
				<div class="close"></div>
				<h4>Записаться</h4>
				<input class="inp" type="text" class="modal-text" placeholder="Имя">
				<input class="inp" type="tel" class="modal-phone" placeholder="Телефон">
				<button class="all_btn">Отправить</button>
			</div>
		</div>

		<div class="modal-wrap-slider">
			<div class="form-slider">
				<div class="close"></div>
				<div class="slider-for">
				  <!-- <div class="big_img" style="background: url(./img/s1.jpg)no-repeat center/cover;"></div>
				  <div class="big_img" style="background: url(./img/s2.jpg)no-repeat center/cover;"></div> -->
				</div>

				<div class="slider-nav">
				  <!-- <div class="small_img" style="background: url(./img/s1.jpg)no-repeat center/cover;"></div>
				  <div class="small_img" style="background: url(./img/s2.jpg)no-repeat center/cover;"></div> -->
				</div>
			</div>
		</div>

		<div class="pop-up">
			<div class="pop-up-cont">
				<p>Заявка отправлена!</p>
			</div>
		</div>


			<!--<div class="sale1" >
				<p><span style='text-align: center; color: #fff; font-size: 11pt; font-weight: bold;'>Скидка 50%</span> <br> на замену <br> тормозных колодок <br> до 21 марта</p>
			</div>



			<div class="sale2" onclick="jivo_api.open();">
				<p><span style='text-align: center; color: #fff; font-size: 11pt; font-weight: bold;'>Скидка 50%</span> <br> на замену моторного масла и масляного фильтра!</p>
			</div>--><footer>
			<section class="container flex">
				<div class="footer-logo logo">
					<a href="index.html" style="background: url({% static 'img/f-logo.png' %})no-repeat center left/40%">
						<p>VAG<br><span>service</span></p>
					</a>
				</div>
				<div class="number">
					<h4>Телефон для связи:</h4>
					<a href="tel:+38 (044) 334 67 64" class="first-tel">+38 (044) 334 67 64</a>
					<a href="tel:+38 (097) 102 42 23" class="first-tel">+38 (097) 102 42 23</a>
					<a href="mailto:adm.vag.service@gmail.com">adm.vag.service@gmail.com</a>
				</div>
				<div class="social">
					<a href="viber://add?number=380501451984" target="_blank"><i class="fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@vag_comua" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/vag.comua"target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/vag.comua"target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
				<!--	<a href="https://twitter.com/vag_comua"target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> -->
				</div>

			</section>
			<p class="copy">Development by fruitKit © 2018</p>
			<br>
			<!--<center>
			<!--LiveInternet counter-->
			<!--<script type="text/javascript">
			document.write("<a href='//www.liveinternet.ru/click' "+
			"target=_blank><img src='//counter.yadro.ru/hit?t16.6;r"+
			escape(document.referrer)+((typeof(screen)=="undefined")?"":
			";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
			screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
			";h"+escape(document.title.substring(0,150))+";"+Math.random()+
			"' alt='' title='LiveInternet: показано число просмотров за 24"+
			" часа, посетителей за 24 часа и за сегодня' "+
			"border='0' width='88' height='31'><\/a>")
			</script><!--/LiveInternet-->
			<!--</center>-->
		</footer>



		<script src="{% static 'js/main.js' %}"></script>

		<!-- BEGIN JIVOSITE CODE {literal} -->
		<!--<script type='text/javascript'>
		(function(){ var widget_id = 'u1APv57NWy';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
		</script>-->
		<!-- {/literal} END JIVOSITE CODE -->

		<!-- GetCall -->
		<script type="text/javascript">
  (function(d, w, s) {
	var widgetHash = 'd2mrzvw2dev0fai3oxm4', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
	gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
	var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
  })(document, window, 'script');
</script>

	<!-- Style Binotel  -->
<style type="text/css">
 #bingc-phone-button svg.bingc-phone-button-circle
circle.bingc-phone-button-circle-inside {
 fill: rgb(255,83,0,1) !important;
 }
 #bingc-phone-button:hover svg.bingc-phone-button-circle
circle.bingc-phone-button-circle-inside {
 fill: rgb(255,83,0,1) !important;
 }
 #bingc-phone-button div.bingc-phone-button-tooltip {
 background: rgb(255,83,0,1) !important;
 }
 #bingc-phone-button div.bingc-phone-button-tooltip svg.bingc-phone-button-arrow
polyline {
 fill: rgb(255,83,0,1) !important;
 }
 #bingc-passive.bingc-passive > div.bingc-passive-overlay {
 background: rgb(255,83,0,1) !important;
 }
 #bingc-active.bingc-active {
 background: rgb(255,83,0,1) !important;
 }
</style>

	</body>
</html>