<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171270796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-171270796-1');
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>СТО Impuls Autoservice </title>
	<meta name="description" content="Text description">

	<!-- Font -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--Slick-->
	<link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

	<script src="{% static 'js/slick/slick.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <link rel="shortcut icon" href="favicon.ico" />

</head>
	<body>
		<header>
			<section class="container flex">
				<div class="logo">
					<a href="/" style="background: url({% static 'img/logo.png' %})no-repeat center left/50%">
						<p>Impuls<br><span>autoservice</span></p> 
					</a>
				</div>
				<div class="mob">
					<i class="fa fa-mobile fa-4x" aria-hidden="true"></i>
				</div>
				<div class="number">
					<h4>Наши контакты:</h4>
					<a href="tel:+38068 20 90 867" class="first-tel">+380682090867</a>
					<a href="tel:+38050 32 77 636">+380503277636</a>
				</div>
				<div class="time">
					 <h4>Режим работы:</h4>
					<h5>Пн-Пт: 09:00-19:00</h5>
					<h5 style="margin-left:-25px;">Сб: 10:00-17:00</h5>
				</div>
				<div class="social">
					<a href="viber://add?number=380682090867" target="_blank"><i class="viber_icon fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@impulse_stoBot" target="_blank"><i class="telegram_icon fa fa-telegram fa-2x" aria-hidden="true"></i></a>
                </div>
			</section>
		</header>
		<div class="mob_menu">
			<a class="menu_btn">
				<span style="background: url({% static 'img/menu.png' %}) no-repeat center/contain;"></span>
			</a>
				<nav class="mob_nav">
				<a href="{% url 'index' %}">Главная</a>
				<a href="{% url 'about' %}">О нас</a>
                <a href="{% url 'news' %}">Новости</a>
				<a href="{% url 'price' %}">Услуги и цены</a>
				<a href="{% url 'parts' %}">Подбор запчастей</a>
				<a href="{% url 'contacts' %}">Контакты</a>
				</nav>
		</div>

		<nav class="menu">
			<div class="container flex">
				<a href="{% url 'index' %}">Главная</a>
				<a href="{% url 'about' %}">О нас</a>
                <a href="{% url 'news' %}">Новости</a>
				<a href="{% url 'price' %}">Услуги и цены</a>
				<a href="{% url 'parts' %}">Подбор запчастей</a>
				<a href="{% url 'contacts' %}">Контакты</a>
			</div>
		</nav>

		<div class="promo">
			<div class="slider">
				<div class="slider-item" style="background: url({% static 'img/my1.jpg' %}) no-repeat top center/cover;"></div>
				<div class="slider-item" style="background: url({% static 'img/my2.jpg' %}) no-repeat top center/cover;"></div>
			</div>
			<div class="promo-content">
				<h3>РЕМОНТ И ОБСЛУЖИВАНИЕ авто</h3>
				<p>г. Кременчуг ул. Набережная лейтенанта Днепрова 30б </p>
			</div>
		</div>

		<div class="services">
			<div class="container">
				<h3>Наши услуги</h3>
				<div class="service-content flex">
					<figure>
						<img src="{% static 'img/serv1.jpeg' %}" alt="img">
					    <figcaption>
					       <h4>Цены на наши услуги</h4>
					       <div class="article">
					       	<p>Цены на услуги и ремонтные работы.</p></div>
				           <a href="/" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="{% static 'img/serv-2.jpg' %}" alt="img">
					    <figcaption>
					       <h4>Ремонт ходовой части</h4>
					       <div class="article">Подвеска авто постоянно находится под нагрузкой. Поэтому возникает острая необходимость в периодической диагностике и замене деталей. Цена на услуги ремонта ходовой подвески зависит от количества и сложности работ по замене деталей.</div>
				           <a href="/" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="{% static 'img/serv-3.jpg' %}" alt="img">
					    <figcaption>
					       <h4>Ремонт двигателя и коробки DSG</h4>
					       <div class="article">Рано или поздно каждый механизм требует обслуживание и ремонт, и двигатель не исключение. Выйти из строя может любой двигатель на любом автомобиле, и причин множество: от обычного заводского брака до гидроударов или ДТП.</div>
				           <a href="/" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>
					<figure>
						<img src="{% static 'img/s4.jpg'%}" alt="img">
					    <figcaption>
					       <h4>Диагностика</h4>
					       <div class="article">Процесс комплексной диагностики длится до 120 минут.
                               Если Вы еще не диагностировали автомобиль, рекомендуем это сделать у нас.</div>
				           <a href="/" class="all_btn">Подробнее</a>
					    </figcaption>
					</figure>

				</div>
			</div>
		</div>

		<div class="gallery">
			<div class="container">
				<h3>Наши работы</h3>
				<div class="slider4">
					
					<div class="slider4-item" data-id="1">
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g2.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g5.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g4.jpg' %})no-repeat center/cover;"></span>
					</div>

					<div class="slider4-item" data-id="1">
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g2.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g5.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
					</div>

					<div class="slider4-item" data-id="1">
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g2.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g5.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
					</div>

					<div class="slider4-item" data-id="1">
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g2.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g5.jpg' %})no-repeat center/cover;"></span>
						<span style="background: url({% static 'img/g3.jpg' %})no-repeat center/cover;"></span>
					</div>

				</div>
			</div>
		</div>

		<div class="about">
			<section class="container">
				<h3>НАШИ СИЛЬНЫЕ СТОРОНЫ</h3>
				<p>Мы понимаем, что безупречность в деталях, поэтому накопленный опыт мы вкладываем в развитие и совершенствование нашего сервиса. Мы хотим строить работу с каждым клиентом на долгосрочную перспективу сотрудничества, мы хотим стать друзьями для клиентов.
                    Мы стремимся быть для клиентов теми, к кому они могут обратиться, по любому вопросу, что касается сферы нашей деятельности. Заботиться о персонале компании, как о самих себе, как о своих родных. Выстраивать отношения с персоналом, как с партнерами.
                    Мы ремонтируем и восстанавливаем автомобили всех марок и любой сложности.</p>
			</section>
		</div>

		<footer>
			<section class="container flex">
				<div class="footer-logo logo">
					<a href="./" style="background: url({% static 'img/logo.jpg' %})no-repeat center left/50%">
						<p>Impuls<br><span>autoservice</span></p>
					</a>
				</div>
				<div class="number">
					<h4>Наши контакты:</h4>
					<a href="tel:+38068 20 90 867" class="first-tel">+380682090867</a>
					<a href="tel:+38050 32 77 636">+380503277636</a>
					<a href="mailto:impulsesto@gmail.com">impulsesto@gmail.com</a>
				</div>
				<div class="social">
					<a href="viber://add?number=380682090867" target="_blank"><i class="viber_icon fab fa-viber fa-2x" aria-hidden="true"></i></a>
					<a href="https://telegram.im/@impulse_stoBot" target="_blank"><i class="telegram_icon fa fa-telegram fa-2x" aria-hidden="true"></i></a>
                </div>

			</section>
			<p class="copy">Development by jekajeka63 © 2020</p>
			<br>
			
		</footer>
    		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>